@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@font-face {
  font-family: 'LemonMilk';
  src: url('../src/assets/fonts/LEMONMILK-Regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal; 
}


* {
  margin: 0px;
  padding: 0px;
}

body {
  padding-bottom: 72px;
  background-color: rgb(213, 114, 114);
}

h1 {
  margin: 20px;
  font-family: LemonMilk;
  text-align: center;
}

footer {
  padding: 20px;
  background-color: #c0392b;
  color: #fff;
}

p {
  font-family: Poppins;
}
